<div class="container">
    <div class="row">
      <div class="col-10">
        <h1>Add new customer</h1>
      </div>
    </div>
    <!-- add a form here -->
        <div class="row">
        <div class="col">
            <form action="/customer" method="POST">
              ID :<br>
              <input type="number" name="id" required><br>
              Titel :<br>
              <input type="number" name="title" required><br>
              First Name :<br>
              <input type="text" name="firstname" required><br>
              Last Name :<br>
              <input type="text" name="surname"  required><br>
              postcode:<br>
              <input type="text" name="postcode" required><br>
              email</br>
              <input type="email" name="email" required><br>
              <button id="submit-btn" type="submit" >submit</button>
              <input type="reset">
            </form>   
        </div>
      </div>
  </div>
